[Desktop Entry]
Version=1.0
Type=Application
Name=PyMOL Molecular Graphics System (Open-Source Edition)
Name[pl]=PyMOL, graficzny modeler cząsteczek (Open-Source Edition)
Name[ru]=Система молекулярной графики PyMOL (Open-Source Edition)
GenericName=Molecular Modeller (Open-Source Edition)
GenericName[pl]=Modeler cząsteczek (Open-Source Edition)
GenericName[ru]=Редактор моделей молекул (Open-Source Edition)
Comment=Model molecular structures and produce high-quality images of them
Comment[pl]=Program do tworzenia i wizualizowania modeli cząsteczek
Comment[ru]=Программа для создания и визуализации моделей молекул
TryExec=pymol-oss.pymol
Exec=pymol-oss.pymol %U
Terminal=false
Icon=${SNAP}/meta/gui/icon.svg
MimeType=chemical/x-pdb;chemical/x-mdl-molfile;chemical/x-mol2;chemical/seq-aa-fasta;chemical/seq-na-fasta;chemical/x-xyz;chemical/x-mdl-sdf;
Categories=Graphics;Education;Science;Chemistry;
Keywords=molecular visualization system;molecular structures;crystallography;pdb;structural biology;biochemistry;